[submodule "extras/TableTools"]
	path = extras/TableTools
	url = git@github.com:keywan/TableTools.git
[submodule "extras/ColVis"]
	path = extras/ColVis
	url = git@github.com:keywan/ColVis.git
[submodule "extras/ColReorder"]
	path = extras/ColReorder
	url = git@github.com:keywan/ColReorder.git
[submodule "extras/ColumnFilterWidgets"]
	path = extras/ColumnFilterWidgets
	url = git://github.com/cyberhobo/ColumnFilterWidgets.git
